body {
  background: #fcfcfc;
}

.post {
  background: #fff;
  padding: 15px;
  border: 2px solid #505050;
  border-radius: 5px;
  margin: 15px;
  margin: 0;
  margin-bottom: 15px;
}

.post_line {
  margin: 0;
  margin-bottom: 15px;
}

.imagem {
  width: 100%;
  border-radius: 5px;
}
